* {
	margin: 0;
	padding: 0;
}
html {
	font-size: 10vw;
}
@media screen and (min-width: 640px) {
	html {
		font-size: 64px;
	}
}
.fade-enter {
  opacity: 0;
  transform: translateX(100%);
	background-color: green;
}

.fade-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: all 500ms;
	// background-color:black;
}
.fade-enter-done {
  opacity: 1;
  transform: translateX(0);
  transition: all 500ms;
	background-color:#fff;
}
.fade-exit {
  opacity: 1;
  transform: translateX(0);
	background-color: hotpink;
}

.fade-exit-active {
  opacity: 0;
  transform: translateX(-100%);
  transition: all 500ms;
}